body {
    background-color: red;
    height: 100%;
    width: 100%;
}

.content {

    background-color: lightblue;
    width: 20%;
    padding: 20px;

    &__showed {
        text-align: center;
    }

    &__inserted {
        margin-right: auto;
    }
}